*{
	color: black;
	background:white;
	box-shadow:none;
	font-family: Arial;
}

html,
body {
	margin-top: 0px;
	padding-top: 0px;
	margin-bottom: 0em;
	padding-bottom: 0em;
	font-family: Arial;
}

h1,h2,h3{
	color:black;
	font-family: Georgia, "Times New Roman", Times, serif !important;
	font-weight: bold;
}

a{
	color:black;
}

#header{
	display: none;
}

a:visited{
	color:black;
	text-decoration: none;
	font-family: Arial;
}

#footer{
	display: none;
}

#title h1{
	color:black;
}

#breadcrumb{
	background:white;
	box-shadow: none;
	margin: 0;
}

#content{
	padding:0;
	background:white;
	margin:0;
	box-shadow: none;
	float: none;
	font-size:1em;
}

/*---Home---*/

#backgroundContent{
	background-color: white;
	margin:0;	
	height: 6em;
}

#backgroundContent h1{color:black; font-size: 2em;}
#homeContent{margin:0;}

#homeContent h1{text-shadow:none;}

#backgroundContent #homeContent form{
	display:none;
	margin:0;
}

/*---Galleria---*/

.catImg img {
	width: 15em;
	height: 10em;
}

/*--Vendi--*/

#backgroundVendi-sample{
	background-color: white;
	margin:0;	
	height: 10em;
}
#backgroundVendi-sample h1{
	color:black; 
	font-size: 2em;
}
#backgroundVendi-sample p{color:black;}
#vendiSample{margin:0;}

/*--Profilo--*/

#Form form{
	display: none;
	margin:0;
}

/*--Gestione--*/

#addCat .inputContactwide{display:none;}
#boxFormApp{flex-wrap: nowrap;}
#imgInApp{width:15em;}
#formApp{width:15em; margin:0;}

/*--FAQ--*/

#faqList{
	margin:0;
	font-size:1em;
}

/*--Dettagli immagini--*/

.descriptionImage{width:25em;}
#descriptionContainer{width:25em;}
.description{
	display: block;
	margin:0 auto;
	box-shadow:none;
	background-color:white;
	border: 1px solid black;
}

#buttonsContainer{display:none; margin:0;}

/*--Input--*/
label{display:none;}
#login{margin:0 auto; }
#register{margin:1em auto;}
.submitButton{display:none;}
.removeButton{display: none;}
.inputContactwide{ margin:0;}
.styled-input{margin:0;}
.inputContactwide input{border:1px solid black;background-color: white; color:black; margin:0; border-radius: 0;}
.styled-input input{border:1px solid black;background-color: white; color:black; margin:0;border-radius: 0;}

/*--Carrello--*/

#prezziContainer{
	padding:0;
	width: 25em;
}

.prezzi{
	background-color: white;
	box-shadow:none;
	border: 1px solid black;
}

#carrelloFinale .submitButton{display: none;}

/*--Admin--*/

#formApp{
	width:20em;
	margin:0;
}

#imgInApp{margin:0;}
#boxFormApp{margin:0;}

/*--Login--*/

#login{display: none;}
#register{display: none;}
.formLogin{display: none;margin:0;}