/*---All pages---*/

*{
	padding: 0em;
	margin: 0em;
	/*font-family: 'Roboto';*/
	line-height: 1.25em;
}

html{
	background-image: url(../images/photography.png);
}

a{
	color: #de8500;
}

a:visited{
	color: #8a1111;
}

.page-container{
	position: relative;
	min-height: 100vh;
}

#content{
	padding-bottom: 10em;
	font-family: 'Roboto';
	font-size: 1.1em;
}

#content h1{
	text-align: center;
	margin-top:1em;
}

#content h2{
	text-align: center;
	margin: 1em 0;
}

/*---Header---*/

#header{
	background-color: #2e2c2c;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.5em 1em 0.5em;
	padding:1.5em;
}

#header h1{
	font-size: 2em;
	float:left;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
}

#header h1 a{
	text-decoration: none;
	color:white;
	font-family: 'Nova Square';
}

#header h1:hover{
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-o-transform: scale(1.05);
	transform: scale(1.05);
}


#Pchar{color: #ff9900;}
#Schar{color: #ff9900;}

#navbar ul{
	float: right;
	display: flex;
	list-style-type: none;
	font-family: 'Roboto';
	right: 2%;
}

#navbar li a{
	text-decoration: none;
	color: white;
	padding:0 1em 0 1em;
	font-size: 1.3em;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
}

#navbar li a:hover{
	color: #ff9900;
}

#header .icon, .closebtn{
	 position: fixed;
	 right: 0;
	 top: 0;
	 font-size: 0;
}

@media screen and (max-width:1000px){
	#navbar li a{
		text-decoration: none;
		color: white;
		padding:0 0.8em 0 0.8em;
		font-size: 1.1em;
		-webkit-transition-duration: 0.2s;
		transition-duration: 0.2s;
	}
}


/*---Footer---*/

#footer{
	padding: 1em 0 1em 0;
	bottom: 0;
	background-color: #2e2c2c;
	width: 100%;
	height: 7em;
	font-family: 'Roboto';
	position: absolute;
}

#footer p{
	color:white;
	font-size: 1em;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: center;
}

#socialContainer{
	position: relative;
	display: flex; 
	justify-content: center;
}

.socialButton{
	position: relative;
	margin: 1em 0.5em;
	font-size: 1.5em;
}

.socialButton .fa{
	text-decoration: none;
	color:white;
	font-size: 1.2em;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
}

.fa-facebook:hover{ color: #3B5998; }
.fa-twitter:hover	{ color: #55ACEE; }
.fa-linkedin:hover{ color: #007BB5; }
.fa-instagram:hover{ color: #e4405f; }
.fa-pinterest:hover{ color: #CB2027; }

#topUp{
	outline: none;
	z-index: 2;
	/*display: none;*/
	position: fixed;
	font-size: 1.5em;
	bottom:2em;
	right: 0.75em;
	width:2.5em;
	height:2.5em;
	border-radius: 50%;
	border:none;
	color:white;
	background-color: #ff9900;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
	cursor: pointer;
}

#topUp:hover{
	background-color: #ffb340;
}


/*---Breadcrumb---*/

#breadcrumb{
	background-color: #e3e3e3;
	font-family: 'Roboto';
	padding: 0.5em;
}

#breadcrumb p{
	margin-left: 0.5em;
	font-size: 1.1em;
	color: 
}

/*---Home---*/

#backgroundContent{
	background-image: url(../images/backgroundImage3.jpg);
	height: 40em;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.9;
}

#homeContent{
	width:100%;
	position: absolute;
	justify-content: center;
	display: block;
	margin-top: 5em;
}

#homeContent h1{
	margin-bottom: 2em;
	color:white;
	font-size: 2.5em;
}

#searchForm{
	position: relative;
	width:100%;
	display: flex;
	justify-content: center;
}

#searchForm input[type=text]{
	outline: none;
	width: 50%;
	padding: 1em 1em;
	font-size: 1.1em;
	border:none;
	border: 1px solid gray;
	border-radius: 0.15em;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
}

#searchForm input[type=text]:hover{
	background-color: #e8e8e8;
}

#searchForm button{
	background: #ff9900;
	font-size: 1.25em;
	color:white;
	width:3em;
	position: relative;
	cursor: pointer;
	margin-left: 0.05em;
	border:none;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

#searchForm button:hover{
	background-color: #ffb340;
}

#searchForm button .fa{
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	font-size: 1em;
}

#searchForm select{
	outline: none;
	font-size:1.025em;
	color:#4A4A4A;
	font-weight:bold;
	padding:0.25em 0 0 0.5em;
	cursor: pointer;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

#searchForm select:hover{
	background:#e8e8e8;
}

#homeText{
	position: relative;
	display: flex;
	width:100%;
	justify-content: center;
}

#homeText h1{
	font-size: 1.75em;
	font-family: 'Nova Square';
}

#homeText p{
	margin-top: 1em;
	font-size: 1.2em;
}

.homeParagraph{
	width: 33%;
	margin: 3em 1em 1em 1em;
  	padding: 1em 1em 3em 1em;
	text-align: center;
}

@media screen and (max-width:768px){
	#backgroundContent{
		height:30em;
	}
	#homeText{
		flex-wrap: wrap;
		display: flex;
	}

	.homeParagraph{
		width: 100%;
		margin-top:0;
		margin-bottom: 0;
	}

	 /*---menu Hamburger---*/  
	 
	#header{
		position: fixed;
		top: 0;
		width: 100%;
		z-index:5;
	}

	#header h1:hover{
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
	}

	#content{margin-top: 5em;}

    #navbar ul{
      	display: inherit;
      	float:none;
      	margin-top: 2em;
    }

    #navbar li a{
      	padding: 0.5em;
      	text-align: center;
    }
    
    .topnav {
       	height: 100%;
        width: 0;
        position: fixed;
        z-index: 3;
        top: 0;
        right: 0;
        background-color: #2e2c2c;
        overflow-x: hidden;
		transition: 0.5s;
		
	}
	
	.topnav li{
		font-size: 1.1em;
	}

    .topnav li a {
		display: block;
		margin: 2em 0;
    }

    #header .icon{
      	position: absolute;
      	color: white;
      	top: 0.8em;
      	right: 2.5em;
      	font-size:2em;
    }

    .topnav .closebtn {
      	position: absolute;
      	top:  0.3em;
      	right:  0.5em;
      	font-size:3em;
      	color: white;
      	text-decoration: none;
    }
}

/*---Contatti---*/

#faqContacts{
	text-align: center;
	margin: 1em 1em 0 1em;
	font-size: 1.1em;
}

/*---Form---*/

#Form{
	margin: 1em auto;
	position: relative;
	overflow: hidden;
	padding: 1em;
}

#Form h1{
	font-size: 1.75em;
}

#container {
	max-width: 45em;
	margin: 2em auto;
}

.styled-input {
	width: 49%;
	float:left;
    margin: 0 0 1rem 0;
	position: relative;
	border-radius: 0.25em;
}

.inputContactwide { 
	width: 100%;
	margin-bottom: 1em;
	display:flex; 
	flex-direction: row; 
	justify-content: center; 
	align-items: center
}
.inputContactwide label{
	width:7em;
	text-align: center;
	font-weight: 600;
}

.styled-input input{
    padding: 1.5em;
    border: 0;
    width: 100%;
    font-size: 1rem;
    background-color: #2c2c2c;
	color: white;
	border-radius: 0.25em;
}

.inputContactwide input{
	display: block;
	padding: 1.5em;
    border: 0;
    width: 100%;
    font-size: 1rem;
    background-color: #2c2c2c;
	color: white;
	border-radius: 0.25em;
}

.inputContactwide select{
	display: block;
	padding: 1.5em;
    border: 0;
    width: 100%;
    font-size: 1rem;
    background-color: #2c2c2c;
	color: white;
	border-radius: 0.25em;
}

.inputContactwide textarea{
	padding: 1.5em;
    border: 0;
    width: 100%;
    font-size: 1rem;
    background-color: #2c2c2c;
	color: white;
	min-height: 15em;
	resize: none;
	border-radius: 0.25em;
}

textarea{
	font-family: 'Roboto';
}

.submitButton{
	border:none;
    float: right;
	padding: 0.5em 1em;
    display: inline-block;
    background-color: #ff9900;
    color: white;
    font-size: 1.1em;
	cursor: pointer;
	border-radius: 0.25em;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
}

.submitButton:hover{
	background-color: #ffb340;
}

/*---FAQ---*/

.faqQuestion{
	font-weight: bold;
}

#faqRules{
	font-weight: bold;
	color:red;
}

#faqList{
	margin-bottom: 3em;
}

#faqList li{
	margin: 1em 1em 1em 1em;
	text-align: left;
	list-style-type: square;
	list-style-position: inside;
}

#faqContact{
	margin: 2em 1em 1em 1em;
}


/*---Vendi_sample---*/

#backgroundVendi-sample{
	background-image: url(../images/vendiCollage2.jpg);
	height: 50em;
	opacity: 0.9;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#vendiSample{
	width:100%;
	position: absolute;
	justify-content: center;
	display: block;
	margin-top: 12em;
}

#vendiSample h1{
	width: 100%;
	font-size: 3em;
	text-align: center;
	color: white;
	margin-bottom: 0.5em;
}

#vendiSample p{
	width: 100%;
	font-size: 1.8em;
	text-align: center;
	color:white;
	margin-bottom: 1em;
}

#vendiSample button{
	background: #ff9900;
	width:5em;
	height: 2.5em;
	font-size: 1.7em;
	position: relative;
	cursor: pointer;
	border-radius: 0.2em;
	margin-left: auto;
	margin-right: auto;
	display: block;
	border:none;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
	color:white;
}

#vendiSample a{
	text-decoration: none;
}

#vendiSample button:hover{
	background-color: #ffb340;
}

#vendiSampleText{
	width:100%;
	justify-content: center;
	margin-bottom: 5em;
}

#vendiSampleText p{
	font-size: 1.1em;
	text-align: center;
}

#vendiContainer{
	position: relative;
	display: flex;
	width:100%;
	justify-content: center;
	margin-bottom: 4em;
}

#vendiContainer h1{
	font-size: 1.75em;
	font-family: 'Nova Square';
}

#vendiContainer p{
	font-size: 1.1em;
}

.vendiParagraph{
  width: 33%;
  margin: 3em 1.5em 0em 1.5em;
  padding: 1em 1em 2em 1em;
  text-align: center;
}

@media screen and (max-width:768px){
	#backgroundVendi-sample{height: 30em;}
	#vendiSample{margin-top:5em;}
	#vendiSample h1{font-size: 2.3em;}
	#vendiSample p{font-size: 1.5em;}

	#vendiSampleText p{
		margin: 1em;
		margin-bottom: 0;
	}

	#vendiContainer{
		flex-wrap: wrap;
		display: flex;
		margin:0;
	}

	.vendiParagraph{
		width: 100%;
		margin:0;
	}

	#vendiSample button{
		background: #ff9900;
		width: 4.5em;
		height: 2.25em;
		font-size: 1.5em;
	}
}

/*---Profilo---*/

#pro{
	text-align: center;
	margin: 6em 0 2em 0;
}

.foto{
	display: flex;
	flex-wrap: wrap;
}

.foto ul{
	display: flex;
	flex-wrap: wrap;
	margin:0 0 4em 0;
	width: 100%;
}

.foto ul li{
	box-sizing: border-box;
	padding:2em;
	flex: 25%;
	list-style-type: none;
}

.imgElement{
	width: 15em;
	height: 10em;
	display:block;
	margin: auto;
}

.imgElement a:hover{
	opacity: 0.9;
}

#parag{
	text-align: center;
}


/*---Acquista---*/

#categoryContainer {
	display: flex;
	flex-wrap: wrap;
}

.catImg {
	box-sizing: border-box;
	padding: 1.5em;
	flex: 25%;
}

.catImg img {
	display:block;
	margin: auto;
	width: 20em;
	height: 13em;
}

.catImg p {
	padding: 1em 0em;
	font-size: 1.5em;
	text-align: center;
}

/*---Login---*/

#login{
	flex: 50%;
	width: 25em;
	display:block;
	margin: 1em auto 5em auto;
}

#register{
	flex: 50%;
	width: 25em;
	display:block;
	margin: 1em auto 5em auto;
}

#gridLogin{
	display: flex;
	flex-wrap: wrap;
}

.formLogin{
	width: 25em;
	margin: 2em auto 2em auto;
}

.formLogin .inputContactwide{
	width: 25em;
	margin: 1rem 0 0 0;
}

.formLogin .inputContactwide input{
	width: 100%;
	padding:1.5em;
	box-sizing: border-box;
}

.formLogin .styled-input{
	width:12em;
	float:left;
	margin-top: 1em;
}

.formLogin .styled-input input{
	width:100%;
	padding:1.5em;
	box-sizing: border-box;
	margin-bottom: 0;
}

#title-color{
	margin-bottom: 1em;
	text-align: center;
	font-size: 1.5em;
}

#login .formLogin .submitButton{
	margin-top: 1em;
}

@media screen and (max-width: 768px){
	#login{
		width: 100%;
	}
	
	#register{
		width: 100%;
	}
}

/*---CatGallery---*/

.listImg {
	box-sizing: border-box;
	padding: 1.5em;
	flex: 25%;
}

.listImg img {
	display:block;
	margin: auto;
	width: 18em;
	height: 12em;
}

.listImg p {
	padding: 1em 0em;
	font-size: 1.25em;
	text-align: center;
}

/*---imgDet---*/

#detailsContainer{
	margin-top:3em;
	flex-wrap: wrap;
	display: flex;
}

#detailsImageContainer{
	flex:50%;
	display:block;
	margin: 1em auto 5em auto;
}

#descriptionContainer{
	flex:50%;
	display:block;
	margin: 1em auto 5em auto;
	padding:0em;
}

.description{
	width:40em;
	display:block;
	margin: 0 auto 0 auto;
	align-items: center;
	box-shadow: 0 0 0.5em #777;
	padding:2em;
	background-color: #f5f5f5;
}

.descriptionImage{
	display: block;
	margin: 0 auto;
	width:40em;
	height: 30em;
}

.descriptionParagraph{ 
	margin:0em 0 1em 0;
	font-size:1.2em;
}

dt{
	float: left;
	clear: left;
	margin-right: 0.25em;
	font-weight: bold;
}
  
dd{ margin-left: 0em;}

#buttonsContainer{
	display: inline-block;
	margin-top: 3.5em;
}

#buttonsContainer>button{
	width:2em;
	height: 2em;
	font-size: 1.75em;
	border: none;
	background: none;
	outline: none;
	margin:0;
}

#buttonsContainer #acquisto-button{
	font-size: 1.5em;
	margin-left:15em;
	width:6.5em;
	height:2.5em;
	color:white;
	background-color: #ff9900;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
}

#buttonsContainer #acquisto-button:hover{
	background-color: #ffb340;
}

.fa-thumbs-o-up{color:#4267B2}
.fa-thumbs-up{color:#4267B2}
.fa-heart{color: red;}
.fa-heart-o{color:red;}

@media screen and (max-width:768px){
	.descriptionImage{
		width:30em;
		height: 20em;
	}
	.description{
		width:27.5em;
		height: 20em;
	}
}


/*---Errori---*/

.error{
	font-size:1.2em;
	color:red;
}

/*---Carrello---*/

#fotoContainer p{
	text-align: center;
}

/*---Admin---*/

#boxFormApp{
	flex-wrap: wrap;
	display: flex;
}

#imgInApp{
	flex:50%;
	display: block;
	margin: 0 auto;
}

#formApp{
	flex:50%;
	display:block;
	margin: 1em auto 0 auto;
}

#modify{
	max-width: 25em;
	margin:0 auto;
}

#imgInApp img{
	margin: 1em auto 0em;
    display: block;
	width:18em;
	height: 12em;
}

#formApp .inputContactwide{margin:0.3em 0 0.3em 0;}
#formApp .inputContactwide input{padding:0.6em;}
#formApp .inputContactwide label{font-size:0.7em; width:6em;}

.adminButtons .submitButton{
	float:none;
	font-size:0.6em;
}

@media screen and (max-width:768px){
	#imgInApp img{
		width:15em;
		height: 10em;
	}
	#formApp{
		margin:0 auto;
		padding:0 1em;
	}
}
