/*---All pages---*/

*{
	padding: 0em;
	margin: 0em;
	/*font-family: 'Roboto';*/
	outline: none;
}

a{
	text-decoration: none;
	color: #de8500;
}

a:visited{
	color: #8a1111;
}

.page-container{
	position: relative;
	min-height: 100vh;
}

#content{
	padding-bottom: 7em;
	font-family: 'Roboto';
}

#content h1{
	text-align: center;
	margin-top:1em;
}

/*---Header---*/

#header{
	background-color: #2e2c2c;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.5em 1em 0.5em;
	padding:1.5em;
}

#header h1{
	font-size: 2em;
	float:left;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
}

#header h1 a{
	text-decoration: none;
	color:white;
	font-family: 'Nova Square';
}

#header h1:hover{
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-o-transform: scale(1.05);
	transform: scale(1.05);
}

#Pchar{color: #ff9900;}
#Schar{color: #ff9900;}

#navbar ul{
	float:right;
	display: flex;
	list-style-type: none;
	font-family: 'Roboto';
}

#navbar li a{
	text-decoration: none;
	color: white;
	padding:0 1.25em 0 1.25em;
	font-size: 1.3em;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
}

#navbar li a:hover{
	color: #ff9900;
}

/*---Footer---*/

#footer{
	padding: 1em 0 1em 0;
	bottom: 0;
	background-color: #2e2c2c;
	position: absolute;
	width: 100%;
	height: 7em;
	font-family: 'Roboto';
}

#footer p{
	color:white;
	font-size: 1em;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: center;
}

#socialContainer{
	position: relative;
	display: flex; 
	justify-content: center;
}

.socialButton{
	position: relative;
	margin: 1em 0.5em;
	font-size: 1.5em;
}

.socialButton .fa{
	text-decoration: none;
	color:white;
	font-size: 1.2em;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
}

.fa-facebook:hover{ color: #3B5998; }
.fa-twitter:hover	{ color: #55ACEE; }
.fa-linkedin:hover{ color: #007BB5; }
.fa-instagram:hover{ color: #125688; }
.fa-pinterest:hover{ color: #CB2027; }

#topUp{
	z-index: 99;
	/*display: none;        da inserire con l'inserimento dello script*/ 
	position: fixed;
	font-size: 22px;
	bottom:40px;
	right: 40px;
	width:50px;
	height:50px;
	border-radius: 50%;
	border:none;
	color:white;
	background-color: #808080;
}

#topUp:hover{
	background-color: #6b6a6a;
}

/*---menuHamburger---*/

.sx-logo{
	float:left;
	width: 90%;
  }
  
  .nav{
	  width: 100%;
	  float: left;
	  background: #2e2c2c;
  }
  
  .logo-pulsante{
	  font-size: 2em;
	  color:white;
	  background: #2e2c2c;
	  border: #2e2c2c;
	  margin-left: 3%;
   }
  
  ul {
	  list-style-type: none;
  }
  
  /*---questo va messo dentro a un media---*/
  
  
  .icon-menu{
	  background:white;
	  height: 0.2em;
	  width: 1.5em;
	  border-radius: 0.5em;
  }
  
  .pos1-icon{
	  margin-left:14%;
	  margin-top:12%;
  }
  .pos2-icon{
	  margin-left:14%;
	  margin-top:18%;
  }
  .pos3-icon{
	  margin-left:14%;
	  margin-top:23%;
  }
  
  
  .topnav a{
	  display: none;
	  margin-left: 2%;
	  color:white;
	  
  
  }
  
  #nav-link a{
	  padding: 0.8em;
	  text-align: center;
	  margin-right: 2%;
  
  }
  
  .topnav a.icon {
	  float: right;
	  display: block;
	  position: absolute;
	  background: #2e2c2c;
	  height: 2em;
	  width: 2em;
	  right: 2%;
	  top: 1%;
  }
  
  .topnav a.link:hover{
	  background-color: #ff9900;
	  color: white;
  }
  
  
  .topnav a.link:focus{
	  background-color: #ff9900;
	  color: white;
	  
  }
  
  .topnav a.menu:hover{
	  background-color: #2e2c2c;
	  color: white;
  }
  
  
  .topnav a.menu:focus{
	  background-color: #2e2c2c;
	  color: white;
  }
  
  .topnav a.active{
	  background-color: #ff9900;
	  color: white;
  }
  
  .topnav.responsive a.icon{
	  position: absolute;
	  height: 2em;
	  width: 2em;
	  top: 1%;
  }
  
  .topnav.responsive a{
	  float: none;
	  display: block;
  }
  
  div.end {
	  clear:both;
  }
  
  li{
	  float:none;
  }


/*---Breadcrumb---*/

#breadcrumb{
	background-color: #e3e3e3;
	font-family: 'Roboto';
	padding: 0.5em;
}

#breadcrumb p{
	margin-left: 0.5em;
	font-size: 1.1em;
	color: 
}

/*---Home---*/

#backgroundContent{
	background-image: url(../images/backgroundImage2.jpg);
	height: 50em;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.5;
}

#searchForm{
	position: relative;
	top:50%;
	left:50%;
	width:100%;
	max-width:50em;
	transform: translate(-50%, -50%);
	padding: 1em;
	display: flex;
	border-radius: 1em;
	/*justify-content: space-between;*/
}

#searchForm input[type=text]{
	width: 70%;
	padding: 1em 1em;
	font-weight: bold;
	font-size: 1.1em;
	border: 1px solid gray;
	border-radius: 0.5em;
	box-shadow:0 0 2em #292319;
}

#searchForm button{
	background: #ff9900;
	width:10%;
	position: relative;
	cursor: pointer;
	border-radius: 0.5em;
	margin-left: 1em;
}

#searchForm button .fa{
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	font-size: 1em;
}


/*---Login---*/

.box-login{
	background: #2e2c2c;
	margin-left: 25%;
	margin-right: 25%;
	margin-top: 10%;
	font size:1.3em;
	width: 50%;
	border-radius: 1em;
	padding: 1em;
}



.input-field{
	color:black;
	padding: 0.8em;
	margin-top: 2%;
	margin-bottom: 3%;
	display:block;
  	width:70%;
  	border:0.1em solid #ff9900;
  	text-align: center;
  	border-radius:0.5em;
  	transition:border-color .25s ease, box-shadow .25s ease;
}

.inputWithIcon input[type="text"] {
  padding-left: 1em;
}


.inputWithIcon {
  position: relative;
  margin-left: 20%;
}

.inputWithIcon i {
  position: absolute;
  left: 0.3em;
  top: 0.3em;
  padding: 0.3em 0.2em;
  color: #aaa;
  transition: 0.3s;
}


.label-login{
	margin-left: 45%;
	color:#ff9900;
	margin-bottom: 3%;
 }

#button-login {
	border-radius:0.5em;
	margin-top:3%;
	width:40%;
	margin-left: 30%;
	margin-right: 30%;
	font-size:1em;
	height: 2em;
	letter-spacing:0.1em;
	background:#ff9900;
	color:white;
	cursor:pointer;
}

#title-color{
	color: #ff9900;
	margin-left: 45%;
	margin-bottom: 5%;
}